
name: Docker

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build Dockerfile jenkinsfile-runner
        run: docker build -t jenkinsfile-runner .

      - name: Build Dockerfile jenkinsfile-runner-lazyload
        run: docker build -f jenkinsfile-runner-lazyloaded/Dockerfile -t jenkinsfile-runner-lazyload .

      - name: Build Dockerfile jenkinsfile-runner-prepackaged
        run: docker build -f jenkinsfile-runner-prepackaged/Dockerfile -t jenkinsfile-runner-prepackaged .
